<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/about.css">
    <link rel="stylesheet" href="../assets/style/footer.css">
    <link rel="stylesheet" href="../assets/style/nav-bar.css">
    <script src="https://kit.fontawesome.com/5c21a50140.js" crossorigin="anonymous"></script>
    <title>Jenshin Impactz</title>
</head>
<body>
    <div class="nav-bar-container">
        <div class="item">
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
    
            <div class="isi">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="characters.html">Character</a></li>
                    <li><img src="../assets/img/logo-white-no-bg.png" alt=""></li>
                    <li><a href="location.html">Location</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
    
            <div class="login">
                <a href="signup.html">Sign Up</a>
            </div>
        </div>
    </div>
    
    <div class="dropdown-menu">
        <li><a href="home.html">Home</a></li>
        <li><a href="characters.html">Character</a></li>
        <li><a href="location.html">Location</a></li>
        <li><a href="about.html">About</a></li> 
        <li><a href="signup.html">Sign Up</a></li>    
    </div>

    <div class="jumbotron-1">
        <div class="may-this">
            <img src="../assets/img/about-image/may-this.png" alt="">
        </div>
    </div>

    <div class="jumbotron-2">
        <div class="video-text">
            <div class="text">
                <h1>VIDEO GAME</h1>
            </div>
            <img src="../assets/img/about-image/border.png" alt="">
        </div>

        <div class="video-game">
            <div class="slider">
                <img src="../assets/img/about-image/video-1.png" alt="">
            </div>
            <div class="slider">
                <img src="../assets/img/about-image/video-2.png" alt="">
            </div>
            <div class="slider">
                <img src="../assets/img/about-image/video-3.png" alt="">
            </div>
        </div>

       <div class="features-text">
            <div class="text">
                <h1>GAME FEATURES</h1>
            </div>
            <img src="../assets/img/about-image/border.png" alt="">
        </div>

        <div class="features-1">
            <div class="row">
                <div class="col-relat">
                    <div class="kotak-kiri">
                        <div class="tulisan-ganjil">
                            <h1>Unforgettable Fantasy Adventure</h1>
                            <p>Enjoy a riveting single-player adventure. As
                            a traveler who came from another world, 
                            you will start your journey to find your brother
                             who has been separated for a long time. You
                             will also unravel the deepest mysteries of
                            Teyvat, as well as yourself.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="../assets/img/about-image/features-1.png" alt="">
                </div>
                <div class="label">
                    <div class="tulisan-ganjil">
                        <h1>Unforgettable Fantasy Adventure</h1>
                            <p>Enjoy a riveting single-player adventure. As
                            a traveler who came from another world, 
                            you will start your journey to find your brother
                             who has been separated for a long time. You
                             will also unravel the deepest mysteries of
                            Teyvat, as well as yourself.</p>
                    </div>      
                </div>
            </div>
        </div>

        <div class="features-2">
            <div class="row-genap">
                <div class="col-relat-genap">
                    <div class="kotak-kiri">
                        <div class="tulisan-ganjil">
                            <h1>Explore Your World</h1>
                            <p>Fly across a vast world, swim in crystal
                                clear oceans, and climb towering 
                                mountains. Travel as much as you want
                                and discover all the hidden secrets behind
                                this world full mystery and wonder.</p>
                        </div> 
                    </div>
                </div>
                <div class="col-genap">
                    <img src="../assets/img/about-image/features-2.png" alt="">
                </div>
                <div class="label">
                    <div class="tulisan-ganjil">
                        <h1>Explore Your World</h1>
                            <p>Fly across a vast world, swim in crystal
                                clear oceans, and climb towering 
                                mountains. Travel as much as you want
                                and discover all the hidden secrets behind
                                this world full of mystery and wonder.</p>
                    </div>      
                </div>
            </div> 
        </div>

        <div class="features-3">
            <div class="row">
                <div class="col-relat">
                    <div class="kotak-kiri">
                        <div class="tulisan-ganjil">
                            <h1>Adventure Alone or Fight Together</h1>
                            <p>You can fight solo, or you can invite your
                                friends to fight together against dangerous
                                monsters in multi-platform on: PS4, iOS,
                                Android and PC.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="../assets/img/about-image/features-3.png" alt="">
                </div>
                <div class="label">
                    <div class="tulisan-ganjil">
                        <h1>Adventure Alone or Fight Together</h1>
                            <p>You can fight solo, or you can invite your
                                friends to fight together against dangerous
                                monsters in multi-platform on: PS4, iOS,
                                Android and PC.</p>
                    </div>      
                </div>
            </div>
        </div>

        <div class="features-4">
            <div class="row-genap">
                <div class="col-relat-genap">
                    <div class="kotak-kiri">
                        <div class="tulisan-ganjil">
                            <h1>Master the Seven Elements</h1>
                            <p>Genshin Impact is not an ordinary fighting
                                game. Combining the power of various
                                elements is the key to defeating powerful
                                enemies and solving challenging puzzles.</p>
                        </div> 
                    </div>
                </div>
                <div class="col-genap">
                    <img src="../assets/img/about-image/features-4.png" alt="">
                </div>
                <div class="label">
                    <div class="tulisan-ganjil">
                        <h1>Master the Seven Elements</h1>
                            <p>Genshin Impact is not an ordinary fighting
                                game. Combining the power of various
                                elements is the key to defeating powerful
                                enemies and solving challenging puzzles.</p>
                    </div>      
                </div>
            </div>            
        </div>

        <div class="features-5">
            <div class="row">
                <div class="col-relat">
                    <div class="kotak-kiri">
                        <div class="tulisan-ganjil">
                            <h1>The Best Party Shape</h1>
                            <p>Choose your fighting partner. Make a Party
                                with more than 20 characters to choose
                                from (more to come). Each character has
                                unique abilities, personality and fighting.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="../assets/img/about-image/features-5.png" alt="">
                </div>
                <div class="label">
                    <div class="tulisan-ganjil">
                        <h1>Unforgettable Fantasy Adventure</h1>
                            <p>Choose your fighting partner. Make a Party
                                with more than 20 characters to choose
                                from (more to come). Each character has
                                unique abilities, personality and fighting.
                            </p>
                    </div>      
                </div>
            </div>
        </div>

        <div class="screenshot-text">
            <div class="text">
                <h1>SCREENSHOT GAME</h1>
            </div>
            <img src="../assets/img/about-image/border.png" alt="">
        </div>

        <div class="screenshot-game">
            <img id="panah-kiri" src="../assets/img/about-image/panah-kiri.png" alt="">
            <img id="image" src="../assets/img/about-image/screenshot-1.png" alt="">
            <img id="panah-kanan" src="../assets/img/about-image/panah-kanan.png" alt="">
        </div>
    </div>

    <div class="footer-container">
        <div class="footer">
            <div class="medsos">
                <img src="../assets/img/medsos-footer.png">
            </div>

            <div class="logo-white">
                <img src="../assets/img/logo-white-no-bg.png">
            </div>

            <div class="list-1">
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms of Service</li>
                    <li>About Us</li>
                    <li>Contact Us</li>
                </ul>
            </div>

            <div class="violence">
                <img src="../assets/img/violence.png">
            </div>
            
            <div class="phrase-footer">
                <p>"PlayStation Family Mark" and "PS4 logo" are registered trademarks or trademarks of Sony Interactive Entertainment Inc.</p>
                <p>Epic, Epic Games, Epic Games Store, the Epic Games Store logo, and Epic Online Services are trademarks and/or registered trademarks of Epic Games. All other trademarks are the property of their respective owners</p>
            </div>

            <div class="mihoyo">
                <img src="../assets/img/mihoyo.png" class="mihoyo">      
            </div>

            <div class="phrase-footer2">
                <p>Copyright © 2023 Caroline & Valina All Rights Reserved</p>
            </div>
        </div>
    </div>

    <script src="../assets/script/navbar.js"></script>
    <script src="../assets/script/about.js"></script>
</body>
</html>