<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/characters.css">
    <link rel="stylesheet" href="../assets/style/footer.css">
    <link rel="stylesheet" href="../assets/style/nav-bar.css">
    <script src="https://kit.fontawesome.com/5c21a50140.js" crossorigin="anonymous"></script>
    <title>Jenshin Impactz</title>
</head>
<body>
    <div class="nav-bar-container">
        <div class="item">
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
    
            <div class="isi">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="characters.html">Character</a></li>
                    <li><img src="../assets/img/logo-white-no-bg.png" alt=""></li>
                    <li><a href="location.html">Location</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
    
            <div class="login">
                <a href="signup.html">Sign Up</a>
            </div>
        </div>
    </div>
    
    <div class="dropdown-menu">
        <li><a href="home.html">Home</a></li>
        <li><a href="characters.html">Character</a></li>
        <li><a href="location.html">Location</a></li>
        <li><a href="about.html">About</a></li> 
        <li><a href="signup.html">Sign Up</a></li>    
    </div>

    <div class="container">
        <div id="character">
            <div class="region">
                <div id="logoregion" class="logo-region">
                    <img src="../assets/img/character-image/logo-1.png" alt="">
                </div>
            </div>
            
            <div id="character-face">
                <img src="../assets/img/character-image/1-1.png" alt="">
            </div>
    
            <div id="face-info">
                <img src="../assets/img/character-image/2-1.png" alt="">
            </div>

            <div id="hidden-info">
                <img src="../assets/img/character-image/3-1.png" alt="">
            </div>

            <div id="character-geser">
                <div class="geser-item active">
                    <img src="../assets/img/character-image/venti-card.png" alt="">
                </div>
                <div class="geser-item">
                    <img src="../assets/img/character-image/jean-card.png" alt="">
                </div>
                <div class="geser-item">
                    <img src="../assets/img/character-image/lisa-card.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="character-2">
            <div class="region">
                <div id="logoregion" class="logo-region">
                    <img src="../assets/img/character-image/logo-2.png" alt="">
                </div>
            </div>
            
            <div id="character-face-2">
                <img src="../assets/img/character-image/2-1-1.png" alt="">
            </div>
    
            <div id="face-info-2">
                <img src="../assets/img/character-image/2-2-1.png" alt="">
            </div>

            <div id="character-geser">
                <div class="geser-item-2 active">
                    <img src="../assets/img/character-image/zhongli-card.png" alt="">
                </div>
                <div class="geser-item-2">
                    <img src="../assets/img/character-image/xiao-card.png" alt="">
                </div>
                <div class="geser-item-2">
                    <img src="../assets/img/character-image/ganyu-card.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="character-3">
            <div class="region">
                <div id="logoregion" class="logo-region">
                    <img src="../assets/img/character-image/logo-3.png" alt="">
                </div>
            </div>
            
            <div id="character-face-3">
                <img src="../assets/img/character-image/3-1-1.png" alt="">
            </div>
    
            <div id="face-info-3">
                <img src="../assets/img/character-image/3-2-1.png" alt="">
            </div>

            <div id="character-geser">
                <div class="geser-item-3 active">
                    <img src="../assets/img/character-image/raeden-card.png" alt="">
                </div>
                <div class="geser-item-3">
                    <img src="../assets/img/character-image/kazuha-card.png" alt="">
                </div>
                <div class="geser-item-3">
                    <img src="../assets/img/character-image/yaemiko-card.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="character-4">
            <div class="region">
                <div id="logoregion" class="logo-region">
                    <img src="../assets/img/character-image/logo-4.png" alt="">
                </div>
            </div>
            
            <div id="character-face-4">
                <img src="../assets/img/character-image/4-1-1.png" alt="">
            </div>
    
            <div id="face-info-4">
                <img src="../assets/img/character-image/4-2-1.png" alt="">
            </div>

            <div id="character-geser">
                <div class="geser-item-4 active">
                    <img src="../assets/img/character-image/nahida-card.png" alt="">
                </div>
                <div class="geser-item-4">
                    <img src="../assets/img/character-image/nilou-card.png" alt="">
                </div>
                <div class="geser-item-4">
                    <img src="../assets/img/character-image/wanderer-card.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="footer-container">
        <div class="footer">
            <div class="medsos">
                <img src="../assets/img/medsos-footer.png">
            </div>

            <div class="logo-white">
                <img src="../assets/img/logo-white-no-bg.png">
            </div>

            <div class="list-1">
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms of Service</li>
                    <li>About Us</li>
                    <li>Contact Us</li>
                </ul>
            </div>

            <div class="violence">
                <img src="../assets/img/violence.png">
            </div>
            
            <div class="phrase-footer">
                <p>"PlayStation Family Mark" and "PS4 logo" are registered trademarks or trademarks of Sony Interactive Entertainment Inc.</p>
                <p>Epic, Epic Games, Epic Games Store, the Epic Games Store logo, and Epic Online Services are trademarks and/or registered trademarks of Epic Games. All other trademarks are the property of their respective owners</p>
            </div>

            <div class="mihoyo">
                <img src="../assets/img/mihoyo.png" class="mihoyo">      
            </div>

            <div class="phrase-footer2">
                <p>Copyright © 2023 Caroline & Valina All Rights Reserved</p>
            </div>
        </div>
    </div>

    <script src="../assets/script/navbar.js"></script>
    <script src="../assets/script/characters.js"></script>
</body>
</html>