<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jenshin Impactz</title>
    <script src="https://kit.fontawesome.com/5c21a50140.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/style/home.css">
    <link rel="stylesheet" href="../assets/style/footer.css">
    <link rel="stylesheet" href="../assets/style/nav-bar.css">
</head>
<body>

    <div class="nav-bar-container">
        <div class="item">
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
    
            <div class="isi">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="characters.html">Character</a></li>
                    <li><img src="../assets/img/logo-white-no-bg.png" alt=""></li>
                    <li><a href="location.html">Location</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
    
            <div class="login">
                <a href="signup.html">Sign Up</a>
            </div>
        </div>
    </div>
    
    <div class="dropdown-menu">
        <li><a href="home.html">Home</a></li>
        <li><a href="characters.html">Character</a></li>
        <li><a href="location.html">Location</a></li>
        <li><a href="about.html">About</a></li> 
        <li><a href="signup.html">Sign Up</a></li>    
    </div>

    <div class="container">
        <div id="jumbotron-1" class="unhid bottom-shadow">
            <img id="distantVoyage"src="../assets/img/distant-voyage.png" alt="">
            <div class="downloadNow">
                <img src="../assets/img/ps.png" alt="">
                <img src="../assets/img/app-store.png" alt="">
                <img src="../assets/img/google-play.png" alt="">
                <img src="../assets/img/microsoft.png" alt="">
            </div>
            <img class="hid" src="../assets/img/download-now.png" alt="">
        </div>
    </div>

    <div class="container">
        <div id="new-char" class="bottom-top-shadow2">
            <div class="kazuha-desc">
                <img src="../assets/img/tulisan-newchar.png" alt="">
                <img src="../assets/img/kazuha-newchar-name.png" alt="">
                <img src="../assets/img/desc-kazuha-newchar.png" alt="">
            </div>

            <div id="kazuha-move" class=""></div>
        </div>
    </div>

    <div class="container">
        <div id="new-weapons">
            <div class="new-weapons-text">
                <img id="new-weapons-text" src="../assets/img/new-weapon-text.png" alt="">
            </div>
           <div class="weapon-geser">
                <img id="panah-kiri" src="../assets/img/panah-kiri.png" alt="">
                <img id="image" src="../assets/img/weapons-1.png" alt="">
                <img id="panah-kanan" src="../assets/img/panah-kanan.png" alt="">
           </div>
        </div>
    </div>

    <div class="footer-container">
        <div class="footer">
            <div class="medsos">
                <img src="../assets/img/medsos-footer.png">
            </div>

            <div class="logo-white">
                <img src="../assets/img/logo-white-no-bg.png">
            </div>

            <div class="list-1">
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms of Service</li>
                    <li>About Us</li>
                    <li>Contact Us</li>
                </ul>
            </div>

            <div class="violence">
                <img src="../assets/img/violence.png">
            </div>
            
            <div class="phrase-footer">
                <p>"PlayStation Family Mark" and "PS4 logo" are registered trademarks or trademarks of Sony Interactive Entertainment Inc.</p>
                <p>Epic, Epic Games, Epic Games Store, the Epic Games Store logo, and Epic Online Services are trademarks and/or registered trademarks of Epic Games. All other trademarks are the property of their respective owners</p>
            </div>

            <div class="mihoyo">
                <img src="../assets/img/mihoyo.png" class="mihoyo">      
            </div>

            <div class="phrase-footer2">
                <p>Copyright © 2023 Caroline & Valina All Rights Reserved</p>
            </div>
        </div>
    </div>

    <script src="../assets/script/navbar.js"></script>
    <script src="../assets/script/home.js"></script>
</body>
</html>