<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/location.css">
    <link rel="stylesheet" href="../assets/style/footer.css">
    <link rel="stylesheet" href="../assets/style/nav-bar.css">
    <script src="https://kit.fontawesome.com/5c21a50140.js" crossorigin="anonymous"></script>
    <title>Jenshin Impactz</title>
</head>
<body>
    <div class="nav-bar-container">
        <div class="item">
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
    
            <div class="isi">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="characters.html">Character</a></li>
                    <li><img src="../assets/img/logo-white-no-bg.png" alt=""></li>
                    <li><a href="location.html">Location</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
    
            <div class="login">
                <a href="signup.html">Sign Up</a>
            </div>
        </div>
    </div>
    
    <div class="dropdown-menu">
        <li><a href="home.html">Home</a></li>
        <li><a href="characters.html">Character</a></li>
        <li><a href="location.html">Location</a></li>
        <li><a href="about.html">About</a></li> 
        <li><a href="signup.html">Sign Up</a></li>    
    </div>
    
    <div class="jumbotron-1">
        <div class="teyvat">
            <h1>TEYVAT</h1>
        </div>

        <div class="line">
            <img src="../assets/img/location-image/line.png" alt="">
        </div>

        <div class="desc">
            <p>You have arrived in Teyvat<br>
                a fantasy world where the seven elements flow and converge.<br>
                In the distant past, the Archons granted mortals unique elemental abilities. With the help of such powers,<br>
                people formed a bountiful homeland out of the wilderness. However, 500 years ago, the collapse of an ancient <br>
                civilization turned the universe upside down...<br>
                Though the calamity the world suffered has ceased, peace has yet to be restored.
            </p>
        </div>

        <div class="check-out">
            <p>Check Out The Teyvat Map</p>
        </div>
    </div>

    <div class="jumbotron-2">
        <div class="item-location">
            <div class="location">
                <a href="../template/map-pages/mondstadt2.html">
                    <img src="../assets/img/location-image/mondstadt-logo.png" alt="">
                </a>
                <h1>Mondstadt</h1>
            </div>
    
            <div class="location">
                <a href="../template/map-pages/liyue.html">
                    <img src="../assets/img/location-image/liyue-logo.png" alt="">
                </a>
                <h1>Liyue</h1>
            </div>
    
            <div class="location">
                <a href="../template/map-pages/inazuma.html">
                    <img src="../assets/img/location-image/inazuma-logo.png" alt="">
                </a>
                <h1>Inazuma</h1>
            </div>
    
            <div class="location">
                <a href="../template/map-pages/sumeru.html">
                    <img src="../assets/img/location-image/sumeru-logo.png" alt="">
                </a>
                <h1>Sumeru</h1>
            </div>
        </div>
    </div>

    <div class="footer-container">
        <div class="footer">
            <div class="medsos">
                <img src="../assets/img/medsos-footer.png">
            </div>

            <div class="logo-white">
                <img src="../assets/img/logo-white-no-bg.png">
            </div>

            <div class="list-1">
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms of Service</li>
                    <li>About Us</li>
                    <li>Contact Us</li>
                </ul>
            </div>

            <div class="violence">
                <img src="../assets/img/violence.png">
            </div>
            
            <div class="phrase-footer">
                <p>"PlayStation Family Mark" and "PS4 logo" are registered trademarks or trademarks of Sony Interactive Entertainment Inc.</p>
                <p>Epic, Epic Games, Epic Games Store, the Epic Games Store logo, and Epic Online Services are trademarks and/or registered trademarks of Epic Games. All other trademarks are the property of their respective owners</p>
            </div>

            <div class="mihoyo">
                <img src="../assets/img/mihoyo.png" class="mihoyo">      
            </div>

            <div class="phrase-footer2">
                <p>Copyright © 2023 Caroline & Valina All Rights Reserved</p>
            </div>
        </div>
    </div>

    <script src="../assets/script/navbar.js"></script>

</body>
</html>