<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/signup.css">
    <link rel="stylesheet" href="../assets/style/footer.css">
    <link rel="stylesheet" href="../assets/style/nav-bar.css">
    <script src="https://kit.fontawesome.com/5c21a50140.js" crossorigin="anonymous"></script>
    <title>Jenshin Impactz</title>
</head>
<body>
    <div class="nav-bar-container">
        <div class="item">
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
    
            <div class="isi">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="characters.html">Character</a></li>
                    <li><img src="../assets/img/logo-white-no-bg.png" alt=""></li>
                    <li><a href="location.html">Location</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
    
            <div class="login">
                <a href="signup.html">Sign Up</a>
            </div>
        </div>
    </div>
    
    <div class="dropdown-menu">
        <li><a href="home.html">Home</a></li>
        <li><a href="characters.html">Character</a></li>
        <li><a href="location.html">Location</a></li>
        <li><a href="about.html">About</a></li> 
        <li><a href="signup.html">Sign Up</a></li>    
    </div>

    <div class="register">
        
        <div class="form-regis">
            <div class="rules">
                <img id="about" src="../assets/img/register-image/about-register.png" alt="">
                <img id="rules" src="../assets/img/register-image/register-rule.png" alt="">
            </div>
            <div class="form-submit">
                <img id="email-register" src="../assets/img/register-image/register-by-email.png" alt="">
                <form action="" id="form">
                    <label for="inputName" id="labelName">Name</label><br>
                    <input type="text" placeholder="8-20 alphabetic character" name="inputName" class="formulir" id="inputName"><br>
                    <label for="inputEmail" id="labelEmail">Email</label><br>
                    <input type="email" placeholder="consist of @gmail.com" name="inputEmail" class="formulir" id="inputEmail"><br>
                    <label for="inputPassword" id="labelPassword">Password</label><br>
                    <input type="password" placeholder="10-20 consist number, char, symbol" name="inputPassword" class="formulir" id="inputPassword"><br>
                    <label for="inputNumber" id="labelNumber">Age</label><br>
                    <input type="number" placeholder="more than 15 years" name="inputNumber" class="formulir" id="inputNumber">

                    <div class="agreement">
                        <div class="check">
                            <input type="checkbox" name="agreement" id="agreement">
                        </div>
    
                        <div class="label">
                            <label for="agreement" id="agreement-label">I agree to the Freelancer User Agreement and Privacy Policy</label>
                        </div>
                    </div>
                    
                    <button type="submit" id="submit">Create Account</button>
                    <div id="divError"></div>
                </form>
            </div>

        </div>

        <div class="paimon-regis">
            <img src="../assets/img/register-image/paimon-regis.png" alt="">
        </div>
        
    </div>

    <div class="footer-container">
        <div class="footer">
            <div class="medsos">
                <img src="../assets/img/medsos-footer.png">
            </div>

            <div class="logo-white">
                <img src="../assets/img/logo-white-no-bg.png">
            </div>

            <div class="list-1">
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms of Service</li>
                    <li>About Us</li>
                    <li>Contact Us</li>
                </ul>
            </div>

            <div class="violence">
                <img src="../assets/img/violence.png">
            </div>
            
            <div class="phrase-footer">
                <p>"PlayStation Family Mark" and "PS4 logo" are registered trademarks or trademarks of Sony Interactive Entertainment Inc.</p>
                <p>Epic, Epic Games, Epic Games Store, the Epic Games Store logo, and Epic Online Services are trademarks and/or registered trademarks of Epic Games. All other trademarks are the property of their respective owners</p>
            </div>

            <div class="mihoyo">
                <img src="../assets/img/mihoyo.png" class="mihoyo">      
            </div>

            <div class="phrase-footer2">
                <p>Copyright © 2023 Caroline & Valina All Rights Reserved</p>
            </div>
        </div>
    </div>

    <script src="../assets/script/signup.js"></script>
    <script src="../assets/script/navbar.js"></script>
</body>
</html>