@font-face{
    font-family: 'zhcn';
    src: url('../font/zhcn.ttf');
}

body{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'zhcn';
    overflow-x: hidden;
}

.jumbotron-1{
    display: flex;
    background-image: url(../img/about-image/background-1.png);
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: end;
    flex-direction: column;
    position: relative;
    align-items: center; 
}

.may-this{
    position: absolute;
    bottom: 20%
}

.may-this > img{
    width: 100%;
}

.jumbotron-2{
    display: flex;
    background-image: url(../img/about-image/background-2.png);
    width: 100vw;
    height: 600vh;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center; 
}

.video-text{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: -46.7%;
}

.text{
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
}

.text > h1{
    font-size: 1.5rem;
}

.video-text > img{
    width: 80%;
}

.video-game{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 5.5%;
    width: 50%;

}

.slider{
    /* z-index: 1; */
    display: flex;
    position: absolute;
    top: 10%;
    transition: 2s;
    width: 100%;
    /* clip-path: circle(0% at 0 50%); */
}


.slider > img{
    /* height: 67vh; */
    width: 100%;
    border-radius: 10px;
}

.navigation{
    /* z-index: 2; */
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    /* transform: translateX(-50%); */
}

.btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.video-game > img{
    width: 90%
}

.features-text{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: -30.8%
}

.features-text > img{
    width: 80%;
}

.features-1{
    width: 70%;
    height: 3%;
    /* background-color: wheat; */
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25%;
    /* display: none; */
}

.row{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    height: 50vh;
    position: relative;
}

.col-relat{
    position: absolute;
    width: 34.5%;
    height: 100%;
    background-image: url(../img/about-image/kotak.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

.col{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: end;   
}

.col > img{
    width: 100%;
    height: 80%;
    object-fit: cover;  
}

.kotak-kiri{
    display: flex;
    position: relative;
    justify-content: center;
    margin-right: 10%;
}

.tulisan-ganjil{
    color: #78604B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    width: 82%;
    margin-left: 0 auto;
    left: 10%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}


.tulisan-ganjil > h1{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 28px;
    margin-bottom: 2px;
}

.features-2{
    width: 70%;
    height: 3%;
    /* background-color: wheat; */
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 35%;
    margin-left: 2%;
    /* display: none; */
}

.features-3{
    width: 70%;
    height: 3%;
    /* background-color: wheat; */
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 49%;
    /* display: none; */
}

.features-4{
    width: 70%;
    height: 3%;
    /* background-color: wheat; */
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 59%;
    margin-left: 2%;
    /* display: none; */
}

.row-genap{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 45vh;
    position: relative;
}

.col-relat-genap{
    position: absolute;
    width: 30%;
    height: 80%;
    background-image: url(../img/about-image/kotak.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
}

.col-genap{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: end;   
}

.col-genap > img{
    width: 100%;
    height: 80%;
    object-fit: cover;  
}

.features-5{
    width: 70%;
    height: 3%;
    /* background-color: wheat; */
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 71%;
    /* display: none; */
}

.screenshot-text{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 33%;
    /* display: none; */
}

.screenshot-text > img{
    width: 80%;
}

.screenshot-game{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 85.7%;
    width: 65%;
    /* display: none; */
}

.screenshot-game > img{
    width: 50%;
    padding: 2%
}

.screenshot-game > #image{
    width: 94%;
    height: 22%;
}

.screenshot-game > #panah-kiri{
    width: 5%
}

.screenshot-game > #panah-kanan{
    width: 5%;
}

.label{
    display: flex;
    position: absolute;
    justify-content: end;
    width: 100%;
    height: 40%;
    top: 90%;
    background-color: bisque;
    display: none;
}

@media (max-width: 1056px){
    .tulisan-ganjil > h1{
        font-size: 1rem;
    }

    .tulisan-ganjil{
        font-size: 0.7rem;
    }
}


@media (max-width: 955px){
    .row-genap{
        right: 2%;
    }

    .label{
        display: block;
    }

    .col-relat{
        display: none;
    }

    .col{
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .col-relat-genap{
        display: none;
    }

    .col-genap{
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .tulisan-ganjil{
        justify-content: center;
        width: 100%;
        height: 100%;
        align-items: center;
        left: 5px;
        bottom: 5px;
        margin: 0 0 0 0%;
    }

    .screenshot-text{
        top: 35%;
    }

    .screenshot-game{
        justify-content: center;
        /* flex-direction: column; */
        top: 85.5%;
        padding: 2%;
        margin-top: 9%;
    }

    .video-game{
        top: 7%
    }
}

@media (max-width: 720px){

    .label{
        display: block;
    }

    .col{
        display: flex;
        width: 100%;
        height: 50vh;
    }

    .col-genap{
        display: flex;
        width: 100%;
        height: 50vh;
    }

    .col-relat{
        display: none;
    }

    .col-relat-genap{
        display: none;
    }

    .col{
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .tulisan-ganjil{
        justify-content: center;
        width: 100%;
        height: 100%;
        align-items: center;
        left: 5px;
        bottom: 5px;
        margin: 0 0 0 0%;
    }

    .screenshot-game{
        margin-top: 15%;
    }

    .video-game{
        top: 8.5%;
        width: 70%
    }
}

@media (max-width: 430px){
    .label{
        display: block;
    }

    .col{
        display: flex;
        width: 100%;
        height: 50vh;
    }

    .col-genap{
        display: flex;
        width: 100%;
        height: 50vh;
    }

    .col-relat{
        display: none;
    }

    .col-relat-genap{
        display: none;
    }

    .col{
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .col-genap{
        justify-content: center;
        flex-direction: column;
        width: 100%;
        position: absolute;
        /* right: 1.2%; */
    }

    .tulisan-ganjil{
        justify-content: center;
        width: 100%;
        height: 100%;
        align-items: center;
        left: 5px;
        bottom: 5px;
        margin: 0 0 0 0%;
    }   

    .label{
        height: 55%;
    }

    .screenshot-game{
        top: 87%;
        flex-direction: column;
        width: 80%;
    }

    .screenshot-game > #img{
        width: 100%;
    }

    .screenshot-game > #panah-kiri{
        width: 8%;
        transform: rotate(90deg);
    }
    
    .screenshot-game > #panah-kanan{
        width: 8%;
        transform: rotate(90deg);
    }

    .slider{
        width: 120%
    }
    
}