<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/style/map-style/inazuma.css">
</head>
<body>

    <div id="content">

        <div class="region-logo">
            <img src="../../assets/img/map-img/inazuma-logo.png" alt="">
            <h1>Inazuma</h1>
        </div>

        <div class="quit">
            <a href="../location.html">
                <img src="../../assets/img/map-img/quit-logo.png" alt="">
            </a>
        </div>
        
        <div class="contentRow contentRowMap">
            <div class="maps mt-10 mb-5">
                <div class="maps-content active">
                    <div class="image-maps">
                        <img src="../../assets/img/map-img/Chinju-forest-image.png" alt="">
                    </div>
                    <div class="image-caption">
                        Chinju Forest
                    </div>
                </div>
                <div class="maps-content">
                    <div class="image-maps">
                        <img src="../../assets/img/map-img/Inazuma-city-image.png" alt="">
                    </div>
                    <div class="image-caption">
                        Inazuma City
                    </div>
                </div>
            </div>
            <div class="maps">
                <div class="maps-content">
                    <div class="image-maps">
                        <img src="../../assets/img/map-img/Musoujin-gorge-image.png" alt="">
                    </div>
                    <div class="image-caption">
                        Musoujin Gorge
                    </div>
                </div>
                <div class="maps-content">
                    <div class="image-maps">
                        <img src="../../assets/img/map-img/Nazuchi-beach-image.png" alt="">
                    </div>
                    <div class="image-caption">
                        Nazuchi Beach
                    </div>
                </div>
            </div>
        </div>
        <div class="contentRow contentRowExplain">
            <div class="maps-explain">
                <img id="explainImage"src="../../assets/img/map-img/Cider-Lake-image.png" alt="">
                <div class="area-maps-explain">
                    <h1 id="explainTitle" class="title">Chinju Forest</h1>
                    <p id="explainDesc">
                        A tranquil and mysterious forest located at the foot of Mt. Yougou.Here one can find Tanuki statues everywhere, torii gates scattered throughout the forest, and abandoned shrines hidden in the depths... Like a flowing river, they tell of legends meandering into a forgotten past.Rumor has it that when walking in Chinju Forest, you may encounter mysterious beings who like to play pranks...                    </p>
                </div>
            </div>
        </div>
        <div class="nextMap">
            <!-- <a id="prev" href="" class="disabled"> -->
                <img src="../../assets/img/map-img/arrow-image.png" alt="" class="clickBefore">
            <!-- </a> -->
            <div class="text">
                Cider Lake
            </div>
            <!-- <a id="next" href="" class="disabled"> -->
                <img src="../../assets/img/map-img/arrow-image.png" alt="" class="clickAfter">
            <!-- </a> -->
        </div>
    </div>
    <script src="../../assets/script/map-script/inazuma.js"></script>

</body>
</html>