<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/style/map-style/liyue.css">
</head>
<body>

    <div id="content">

        <div class="region-logo">
            <img src="../../assets/img/map-img/Liyue-logo.png" alt="">
            <h1>Liyue</h1>
        </div>

        <div class="quit">
            <a href="../location.html">
                <img src="../../assets/img/map-img/quit-logo.png" alt="">
            </a>
        </div>
        
        <div class="contentRow contentRowMap">
            <div class="maps mt-10 mb-5">
                <div class="maps-content active">
                    <div class="image-maps">
                        <img src="../../assets/img/map-img/Liyue-harbor-image.png" alt="">
                    </div>
                    <div class="image-caption">
                        Liyue Harbor
                    </div>
                </div>
                <div class="maps-content">
                    <div class="image-maps">
                        <img src="../../assets/img/map-img/Dihua-marsh-image.png" alt="">
                    </div>
                    <div class="image-caption">
                        Dihua Marsh
                    </div>
                </div>
            </div>
            <div class="maps">
                <div class="maps-content">
                    <div class="image-maps">
                        <img src="../../assets/img/map-img/Qingce-village-image.png" alt="">
                    </div>
                    <div class="image-caption">
                        Qingce Village
                    </div>
                </div>
                <div class="maps-content">
                    <div class="image-maps">
                        <img src="../../assets/img/map-img/Jueyun-karst-image.png" alt="">
                    </div>
                    <div class="image-caption">
                        Jueyun Karst
                    </div>
                </div>
            </div>
        </div>
        <div class="contentRow contentRowExplain">
            <div class="maps-explain">
                <img id="explainImage"src="../../assets/img/map-img/Liyue-harbor-image" alt="">
                <div class="area-maps-explain">
                    <h1 id="explainTitle" class="title">Liyue Harbor</h1>
                    <p id="explainDesc">
                        The establishment of the harbor kicked off Liyue's seafaring trade. As Teyvat's largest market harbor, the sheer amount of goods that flow to and from it is simply incomparable for other ports.Every year during the Lantern Rite you can see thousands of lanterns ascend into the night sky — a Liyue event that you can't afford to miss.
                    </p>
                </div>
            </div>
        </div>
        <div class="nextMap">
            <!-- <a id="prev" href="" class="disabled"> -->
                <img src="../../assets/img/map-img/arrow-image.png" alt="" class="clickBefore">
            <!-- </a> -->
            <div class="text">
                Liyue Harbor
            </div>
            <!-- <a id="next" href="" class="disabled"> -->
                <img src="../../assets/img/map-img/arrow-image.png" alt="" class="clickAfter">
            <!-- </a> -->
        </div>
    </div>
    <script src="../../assets/script/map-script/liyue.js"></script>

</body>
</html>