<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/style/map-style/mondstadt2.css">
</head>
<body>

    <div id="content">

        <div class="region-logo">
            <img src="../../assets/img/map-img/Mondstadt-logo.png" alt="">
            <h1>Mondstadt</h1>
        </div>

        <div class="quit">
            <a href="../location.html">
                <img src="../../assets/img/map-img/quit-logo.png" alt="">
            </a>
        </div>
        
        <div class="contentRow contentRowMap">
            <div class="maps mt-10 mb-5">
                <div class="maps-content active">
                    <div class="image-maps">
                        <img src="../../assets/img/map-img/Cider-Lake-image.png" alt="">
                    </div>
                    <div class="image-caption">
                        Cider Lake
                    </div>
                </div>
                <div class="maps-content">
                    <div class="image-maps">
                        <img src="../../assets/img/map-img/Falcon-Coast-image.png" alt="">
                    </div>
                    <div class="image-caption">
                        Falcon Coast
                    </div>
                </div>
            </div>
            <div class="maps">
                <div class="maps-content">
                    <div class="image-maps">
                        <img src="../../assets/img/map-img/Springvale-image.png" alt="">
                    </div>
                    <div class="image-caption">
                        Springvale
                    </div>
                </div>
                <div class="maps-content">
                    <div class="image-maps">
                        <img src="../../assets/img/map-img/Thousand-wind-temple.png" alt="">
                    </div>
                    <div class="image-caption">
                        Thousand Winds Temple
                    </div>
                </div>
            </div>
        </div>
        <div class="contentRow contentRowExplain">
            <div class="maps-explain">
                <img id="explainImage"src="../../assets/img/map-img/Cider-Lake-image.png" alt="">
                <div class="area-maps-explain">
                    <h1 id="explainTitle" class="title">Cider Lake</h1>
                    <p id="explainDesc">
                        A natural freshwater lake.The lake's wide, crystalline appearance has remained unchanged for eons — so clear you can see the bottom, and cool and refreshing to drink. It is none other than these headwaters that brought Mondstadt's ciders and wines to fame and made the lake the symbol of Mondstadt that it is today.
                    </p>
                </div>
            </div>
        </div>
        <div class="nextMap">
            <!-- <a id="prev" href="" class="disabled"> -->
                <img src="../../assets/img/map-img/arrow-image.png" alt="" class="clickBefore">
            <!-- </a> -->
            <div class="text">
                Cider Lake
            </div>
            <!-- <a id="next" href="" class="disabled"> -->
                <img src="../../assets/img/map-img/arrow-image.png" alt="" class="clickAfter">
            <!-- </a> -->
        </div>
    </div>
    <script src="../../assets/script/map-script/mondstadt2.js"></script>

</body>
</html>