<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/style/map-style/sumeru.css">
</head>
<body>

    <div id="content">

        <div class="region-logo">
            <img src="../../assets/img/map-img/sumeru-logo.png" alt="">
            <h1>Sumeru</h1>
        </div>

        <div class="quit">
            <a href="../location.html">
                <img src="../../assets/img/map-img/quit-logo.png" alt="">
            </a>
        </div>
        
        <div class="contentRow contentRowMap">
            <div class="maps mt-10 mb-5">
                <div class="maps-content active">
                    <div class="image-maps">
                        <img src="../../assets/img/map-img/Gandarva-village-image.png" alt="">
                    </div>
                    <div class="image-caption">
                        Gandharva Ville
                    </div>
                </div>
                <div class="maps-content">
                    <div class="image-maps">
                        <img src="../../assets/img/map-img/Pardis dai.png" alt="">
                    </div>
                    <div class="image-caption">
                        Pardis Dhyai
                    </div>
                </div>
            </div>
            <div class="maps">
                <div class="maps-content">
                    <div class="image-maps">
                        <img src="../../assets/img/map-img/Sumeru-city.png" alt="">
                    </div>
                    <div class="image-caption">
                        Sumeru City
                    </div>
                </div>
                <div class="maps-content">
                    <div class="image-maps">
                        <img src="../../assets/img/map-img/Mawtiwa-forest-image.png" alt="">
                    </div>
                    <div class="image-caption">
                        Mawtiyima Forest
                    </div>
                </div>
            </div>
        </div>
        <div class="contentRow contentRowExplain">
            <div class="maps-explain">
                <img id="explainImage"src="../../assets/img/map-img/Liyue-harbor-image" alt="">
                <div class="area-maps-explain">
                    <h1 id="explainTitle" class="title">Gandharva Ville</h1>
                    <p id="explainDesc">
                        The city above the forest."The city of wisdom is ours, as is the forest of ignorance. Atop the tree lies the remnants of the kingdom of lost dreams."
                    </p>
                </div>
            </div>
        </div>
        <div class="nextMap">
            <!-- <a id="prev" href="" class="disabled"> -->
                <img src="../../assets/img/map-img/arrow-image.png" alt="" class="clickBefore">
            <!-- </a> -->
            <div class="text">
                Gandharva Ville
            </div>
            <!-- <a id="next" href="" class="disabled"> -->
                <img src="../../assets/img/map-img/arrow-image.png" alt="" class="clickAfter">
            <!-- </a> -->
        </div>
    </div>
    <script src="../../assets/script/map-script/sumeru.js"></script>

</body>
</html>